<%-include("partials/header");-%>
<body >
    <span class="material-icons md-48 md-16" onclick="location.replace('homeU')">home</span>
    <br><br><br><br><br><br>
    <h1> نتیجہ </h1><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question1%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer1%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer1%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question2%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer2%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer2%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question3%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer3%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer3%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question4%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer4%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer4%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question5%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer5%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer5%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" dir="rtl">
        <p class=""> <%=question6%> </p>
        <p class="sameLine1" dir="rtl"> آپ کا جواب: </p>
        <p class="sameLine2" dir="rtl"><%=useranswer6%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px;" dir="rtl">
        <p class="sameLine1" dir="rtl">صحیح جواب: </p>
        <p class="sameLine2 green" dir="rtl"><%=crtanswer6%></p>
    </div>
    <br><br><br>
</body>
</html>
