<%-include("partials/header");-%>
<body >
    <span class="material-icons md-48 md-16" onclick="location.replace('home')">home</span>
    <br><br><br><br><br><br>
    <h1> Result </h1><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question1%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer1%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer1%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question2%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer2%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer2%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question3%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer3%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer3%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question4%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer4%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer4%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question5%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer5%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer5%></p>
    </div>
    <br><br><br>
    <div class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        <p class=""> <%=question6%> </p>
        <p class="sameLine1">Your Answer: </p>
        <p class="sameLine2"><%=useranswer6%></p>
    </div>
    <br><br><br>
    <div class="box answer name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block" style="font-size: 25px;">
        <p class="sameLine1">Correct Answer: </p>
        <p class="sameLine2 green"><%=crtanswer6%></p>
    </div>
    <br><br><br>
</body>
</html>
